### Frontend ###
node_modules
dist
coverage
vaadin-connect-demo/frontend/src/generated/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
target


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
