{{#each imports}}
import {{className}} from '{{importPath}}';
{{/each}}

{{#models}}
{{#model}}
export interface {{getSimpleName classname}} {
{{#allVars}}
    {{name}}: {{getSimpleName datatype}};
{{/allVars}}
}
{{/model}}
{{/models}}
