{{#each imports}}
import {{className}} from '{{importPath}}';
{{/each}}

{{#models}}
{{#model}}
{{#unescapedDescription}}
/**
{{#multiplelines unescapedDescription}}
 * {{{@line}}}
{{/multiplelines}}
 */
{{/unescapedDescription}}
export default interface {{{getSimpleName classname}}} {{~#parentSchema}} extends {{{getSimpleName parentSchema}}}{{/parentSchema}} {
{{#vars}}
{{#unescapedDescription}}
  /**{{#multiplelines unescapedDescription}}
   * {{{@line}}}{{/multiplelines}}
   */
{{/unescapedDescription}}
  {{name}}: {{{getSimpleName datatype}}};
{{/vars}}
}
{{/model}}
{{/models}}
